<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="container" th:fragment="header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"> <!-- 企業ロゴ --> <img
						alt="main log" src="/img/header_logo.png" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
					<a th:href="@{/shopping/showCart}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
					<span sec:authorize="isAuthenticated()">
						<a href="order_history.html" class="navbar-link">注文履歴</a>&nbsp;&nbsp;
						<a th:href="@{/logout}" class="navbar-link">ログアウト</a>
						<span sec:authentication="principal.loginUser.name" class="name">山田</span>さん
					</span>
					 <span sec:authorize=isAnonymous()>
						<a th:href="@{/user/login}" class="navbar-link">ログイン</a>&nbsp;&nbsp; 
						<a th:href="@{/user/register}" class="navbar-link">新規会員登録</a>&nbsp;&nbsp;
					</span>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>


</body>
</html>